# Python関連
__pycache__/
*.pyc
*.pyo
*.pyd

# 仮想環境
venv/
ENV/
env/
.venv/

.env
.env.local
.env.*.local

# Django関連
*.log
*.pot
*.pyc
db.sqlite3
media/


.vscode/
.idea/

.env.production
credentials.json
token.json
ses_site/settings.py
mail_log.txt
db.sqlite3
backups/

